h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-members__name,
.strength__name {
  margin-bottom: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  color: #2F303A;
  background-color: #FFFFFF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Main header */
.header {
  border-bottom: 1px solid #ECECEC;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*logo styles*/
.header-logo__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.header-logo-blue {
  color: #2196F3;
}

.header-logo-black {
  color: #000000;
}

/* Navigation block */
.header__nav .header-nav_link.current {
  color: #2196F3;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header-nav__link {
  position: relative;
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link.current::after {
  position: absolute;
  top: 77px;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.header-navigation:last-child {
  margin-right: 0;
}

.header-navigation:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link:hover,
.header-nav__link:focus,
.header-nav__link:active {
  color: #2196F3;
}

/* Header contacts */
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.header-contacts__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.header-contacts__item:last-child {
  margin-right: 0;
}
.header-contacts__item:not(:last-child) {
  margin-right: 40px;
}
.header-contacts__icon {
  margin-right: 10px;
}
.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196F3;
  fill: #2196F3;
}

/* SECTION***HERO*** */
.hero {
  background-color: #2F303A;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-position: center;
}
.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 200;
  margin-bottom: 30px;
}
.hero__button {
  display: inline-block;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px solid transparent;
  min-width: 152px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  width: 216px;
  height: 50px;
}
.hero__button:hover {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */