.work {
    padding-top: 0%;
}

.work__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
}

.work__images {
    display: flex;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.images-computer {
    position: relative;
    margin-right: 30px;
}

.images-example {
    position: relative;
    margin-right: 30px;
}

.images-tablet {
    position: relative;
    margin-right: 0;
}

.work__title,
.team__title,
.customer__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

.work__text {
    position: absolute;
    top: 225px;
    width: 370px;
    height: 70px;
    display: block;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;

}